@import 'variables';
h1 {
    color: $red-color;
}
h2 {
    color: $green-color;
}
.card-course-item {
    margin-top:16px;
}
h5{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
    text-align: center  ;
}
